<!-- account/templates/account/detail.html -->
{% extends 'layout.html' %}

{% block title%}회원정보{% endblock title%}

{% block contents%}
<h1>회원 정보</h1>
<table class="table">
    <tr>
        <th>Username</th>
        <td>{{object.username}}</td>
    </tr>
    <tr>
        <th>회원이름</th>
        <td>{{object.name}}</td>
    </tr>
    <tr>
        <th>이메일주소</th>
        <td>{{object.email}}</td>
    </tr>
    <tr>
        <th>생일</th>
        <td>{{object.birthday}}</td>
    </tr>
</table>
<b>프로필 사진</b><br>
{% if object.profile_img %}
    다운로드: <a href="{{object.profile_img.url}}">{{object.profile_img}}</a><p>
    <img src="{{object.profile_img.url}}" width="500">
{% else %}
    프로필 사진이 없습니다.
{% endif %}

<div class="mt-3">
    <a href="{% url 'account:password_change' %}" class="btn btn-primary">패스워드변경</a>
    <a href="{% url 'account:update' %}" class="btn btn-primary">회원정보수정</a>
    <a href="{% url 'account:delete' %}" 
       class="btn btn-danger"
       onclick="return confirm('정말 탈퇴 하시겠습니까?')">
        탈퇴
    </a>
</div>

{% endblock contents%}